<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.visa.ATM">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QrCodeHelper.QrCodeScanner"></activity>
        <activity android:name=".QrCodeHelper.QrCodeGenerater" />
        <activity android:name=".VisaDirect.TransactionResult" />
        <activity android:name=".VisaDirect.VisaDirectHome" />
        <activity android:name=".User.PayHelper" />
        <activity android:name=".User.RequestHelper" />
        <activity android:name=".User.UserHomeScreen" />
        <activity android:name=".Login" />
        <activity android:name=".CashProvider.HomeCashProvider" />
        <activity android:name=".OptionsLogin" />
        <activity android:name=".SignUp" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".User.GoogleMap" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>